.vs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 100px 45px 100px;

  .vs-logo {
    display: flex;
    align-items: flex-start;
    width: 210px;
    height: auto;
  }

  nav {
    ul {
      display: flex;
      gap: 57px;
      justify-content: flex-end;
      list-style-type: none;
      font-size: 24px;
      font-weight: normal;
      padding-right: 13px;
    }
    li {
      align-items: center;
    }
    .nav-link.active {
      text-decoration: underline;
      line-height: 34.22px;
      color: #120DE6;
    }
    .nav-link {
      text-decoration: none;
      color:#120DE6;
    }
  }
}
@media screen and (max-width: 376px) {
  .vs-header {
    padding: 20px 20px 27px 20px;
 

    .vs-logo {
      width: 145px;
    }
    nav {
      ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        font-size: 12px;
        justify-content: flex-start;
        align-items: center;
        gap: 26px;
      }
      li {
        align-items: center; // Centre verticalement chaque lien
      }
    }
  }
}
