section {
  max-width: 1440px;
  margin: auto;
  padding: 0 100px;

  .Carrousel {
    width: 100%;
  }
  .Entete-HostGlobal {
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;

    .Entete {
      display: flex;
      flex-direction: row;
    }
    .GlobalProjet {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .TitreProjet {
      font-size: 36px;
      color: #120DE6;
      margin-bottom: 5px;
    }
    .Problematique {
      font-size: 18px;
      color:#120DE6;
    }
  }

  // .HostSemiGlobal {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: flex-end;
  // }
  // .Host {
  //   font-size: 18px;
  //   color: #ff6060;
  //   width: 83px;
  //   padding-top: 10px;
  // }
  // .HostGlobal {
  //   display: flex;
  //   flex-direction: column;
  //   gap: 30px;

  //   img {
  //     width: 64px;
  //     height: 64px;
  //     border-radius: 50%;
  //     object-fit: cover;
  //   }
  // }
  .MenuAccordeon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 24px;
    justify-content: space-between;
    margin-bottom: 50px;
    gap: 24px;
  }
  .CollapseHeader {
    height: 50px;
    gap: 76px;
  }
}

// Responsive mobile : breakpoint à 375px
@media screen and (max-width: 376px) {
  section {
    padding: 0 20px;
    .Carrousel {
      height: 255px;
    }
    .Entete-HostGlobal .TitreProjet {
      font-size: 18px;
      width: 335px;
      gap: 10px;
      margin: 0;
    }
    .Entete-HostGlobal .Problematique {
      font-size: 14px;
      padding-top: 5px;
      padding-bottom: 10px;
    }

    .Entete-HostGlobal {
      display: grid;
      grid-template-columns: 1fr;
      // gap: 0;
    }
    .Entete {
      flex-direction: column;
    }
    // .HostSemiGlobal {
    //   gap: 10px;
    //   align-items: center;
    // }
    .HostGlobal {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      // .Host {
      //   font-size: 12px;
      //   width: 70px;
      //   text-align: right;
      //   line-height: 17px;
      // }
      // img {
      //   width: 32px;
      //   height: 32px;
      // }
    }
  }
  .TitrePojet {
    font-size: 24px;
  }

  .slideshow {
    margin: auto;
  }

  .prev img,
  .next img {
    width: 11.67px;
    height: 19.8px;
  }

  .counter {
    display: none;
  }

  section .MenuAccordeon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
  }
}
